.messages {
    font-family: 'Lucida Grande',Verdana,sans-serif !important;
    font-size: 10px;
    margin-top: 10px;
    float: left;
    width: 60%;
}

.messages-inline {
    margin: 0px auto;
    width: 98%;
}

.messages tr {
    border-bottom: 1px solid #ccc;
}

.messages td {
    padding: 2px;
}

#messages-bar {
  margin-top: 10px;
  margin-left: 60%;
}

#messages-bar-content {
  margin-left: 15px;
}

#messages-bar h1 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 5px;
}
