<h1>Live graph</h1>

<div id="livegraph-graph" style="width: 100%; height: 300px;"></div>

<script type="text/javascript">
function plot(data){
    var limit = <%= Setting.get_message_max_count(current_user) %>;

    $.plot($("#livegraph-graph"),
      [ {
          color: "#f00",
          shadowSize: 10,
          data: data,
          threshold: { below: limit, color: "#fd0c99" },
          points: { show: false, },
          lines: { show: true, fill: true }
      } ],
      {
        xaxis: { mode: "time" },
        grid: {
          show: true,
          color: "#fff",
          borderWidth: 0,
          markings: [ { yaxis: { from: limit, to: limit }, color: "#ff9797" } ]
        }
      }
    );
  }

  $.post("/visuals/fetch/graph?hosts=all&amp;hours=12", function(data) {
    json = eval('(' + data + ')');
    plot(json.data);
  });
</script>
